{% extends "home_app/main.html" %}

{% block title %} Order {% endblock title %}

{% block mymain %}

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2 style="color:white;">
          Book A Table
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="" method="post">
            {% csrf_token %}
              <div>

                <input type="text" class="form-control" placeholder="Your Name" name="name" />
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Phone Number" name="number" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Your Email" name="email" />
              </div>
              <div>
                <input type="number" class="form-control" placeholder="Enter the person" name="person" />
                
              </div>
              <div>
                <input type="date" class="form-control" name="date">
              </div>
              <div class="btn_box">
                <button type="submit" >
                  Book Now
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container ">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock mymain %}